/* tables */
table.tablesorter {
  text-align: right;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  vertical-align: top;
}
table.tablesorter thead tr .header {
  background-image: url(../imgs/tables/bg.gif);
  background-repeat: no-repeat;
  background-position: center left;
  cursor: pointer;
  padding-left: 20px;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../imgs/tables/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../imgs/tables/desc.gif);
}
