{% extends "base_with_tables.html" %}

{% block content %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav pull-left" id="main-menu-right">
          <li><a>Feature review</a></li>
        </ul>
        <ul class="nav pull-right" id="main-menu-right">
          <li><a href="download">Download</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container" style="color:#f6f6f6">
  place holder
</div>
<div class="container" style="color:#f6f6f6">
  place holder
</div>
<div class="container" style="color:#f6f6f6">
  place holder
</div>
<div class="container">
  <table id="featureTable" class="tablesorter table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        {% for feature in features %}
          <th>{{ feature.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for o in feature_values %}
        <tr>
          <th>{{ o.bill.id }}</th>
          <th><a href="http://oknesset.org/bill/{{ o.bill.id }}/">{{ o.bill.title }}</a></th>
          {% for value in o.feature_values %}
            <th>{{ value }}</th>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      $("#featureTable").tablesorter();
  });
</script>
{% endblock %}
