{% extends "base_with_tables.html" %}

{% block scripts %}
<script>
function showModal(party_name, party_id) {
  $('#modalHeader').html("Learning " + party_name + "'s secrets");
  $("#downloadLink")[0].setAttribute("href", "javascript:downloadArff(" + party_id + ")");
  $("#showLive")[0].setAttribute("href", "javascript:showLive(" + party_id + ")");
  $("#pageModal").modal();
}

function makeProgress(progress) {
  var p = "";
  p += "<div class=\"row\">";
  p +=   "<div class=\"span2\">" + progress.name + "</div>";
  p +=   "<div class=\"span4\">";
  p +=     "<div class=\"progress " + (progress.done ? "" : "progress-striped active") + "\">";
  p +=       "<div class=\"bar\" style=\"width: " + progress.progress + "%;\"></div>";
  p +=     "</div>";
  p +=   "</div>";
  p += "</div>";
  return p;
}

function showProgress(f) {
  $.get("/forecast/progress", function(data) {
    var progresses = JSON.parse(data);
    var all = "";
    $.each(progresses, function(i) {
      all += makeProgress(progresses[i]);
    });
    $("#modalBody").html(all);
    if (f != null) {
      f();
    }
  });
}

var interval = null;
function downloadArff(party_id) {
  $.get("/forecast/party/" + party_id + "/arff", function(data) {
    window.clearInterval(interval);
    interval = null;
    showProgress(function() {
      window.location = "/forecast/party/" + party_id + "/arff/download";
    });
  });
  if (interval != null) window.clearInterval(interval);
  interval = window.setInterval(function() { showProgress(null); }, 1000);
}

function showLive(party_id) {
  $.get("/forecast/party/" + party_id, function(data) {
    window.clearInterval(interval);
    interval = null;
    $("#modalBody").html(data);
  });
  if (interval != null) window.clearInterval(interval);
  interval = window.setInterval(function() { showProgress(null); }, 1000); 
}
</script>
{% endblock %}

{% block content %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav pull-left" id="main-menu-left">
          <li><a>Choose party to get predictor</a></li>
        </ul>
        <ul class="nav pull-right" id="main-menu-right">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container" style="color:#ffffff">
  place holder
</div>
<div class="container" style="color:#ffffff">
  place holder
</div>
<div class="container" style="color:#ffffff">
  place holder
</div>
{% if parties_list %}
  <div class="container" dir="ltr">
    <table id="partyTable" class="tablesorter table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Num. seats</th>
        <th>In coalition?</th>
      </tr>
    </thead>
    <tbody>
    {% for party in parties_list %}
      <tr>
        <th>{{ party.id }}</th>
        <th><a href="javascript:showModal('{{ party.name }}', {{ party.id }})">{{ party.name }}</a></th>
        <th>{{ party.number_of_seats }}</th>
        <th>{% if party.is_in_coalition %}כן{% else %}לא{% endif %}</th>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#partyTable").tablesorter();
    });
  </script>
  <div id="pageModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="modalHeader"></h3>
    </div>
    <div id="modalBody" class="modal-body">
    </div>
    <div class="modal-footer">
      <a id="downloadLink" class="btn" aria-hidden="true">Download arff</a>
      <a id="showLive" class="btn" aria-hidden="true">Show live</a>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
{% else %}
  <p>רשימת המפלגות ריקה.</p>
  <a href="/forecast/fetch/">ייבא רשימת מפלגות מחדש</a>
{% endif %}
{% endblock %}
