{% extends "base.html" %}

{% block header %}
{% if notification %}
<div id="notificationbar" class="tn-box tn-box-color-info">
  <p>{{ notification }}</p>
  <div class="tn-progress"></div>
</div>
<script type="text/javascript">
  document.getElementById("notificationbar").className += " tn-box-active";
</script>
{% endif %}
{% endblock %}

{% block content %}
<a href="/agendas/">לאפליקציית עזר לבוחר</a><br/>
<a href="/forecast/">לקבל תחזית בחירה לפי ח"כ</a><br/>
<br/>
<a href="/db/erase/">נקה את מאגר הנתונים</a><br/>
{% endblock %}
