{% extends "base.html" %}

{% block content %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Forecast</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="/db/erase">Clear DB</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <div class="row">
          <div class="span3"></div>
          <div class="span6"><h2>Choose to get predictor</h2></div>
        </div>
        <div class="row">
          <div class="span1"></div>
          <div class="span2"><a class="btn btn-large" style="width: 60px;" href="/forecast/member/">ח"כ</a></div>
          <div class="span1"></div>
          <div class="span2"><a class="btn btn-large" style="width: 60px;" href="/forecast/party/">מפלגה</a></div>
          <div class="span1"></div>
          <div class="span2"><a class="btn btn-large" style="width: 60px;" href="/forecast/generic/">כללי</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
